body{
    background-color: rgb(190, 246, 255);
}

.gridMother{
    display: grid;
    margin: auto;
    width:98%;
    height:95%;
    grid-template-columns: minmax(600px,3fr) 1fr;
    grid-template-rows: 50px minmax(500px,4fr) 1fr;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 6px ridge #4dbcff;
    border-radius: 8px;
}

.worldMap{
    background-color: #f7fcff;
    grid-row: 2;
    grid-column: 1;
    position: relative;
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y: hidden;
    cursor: auto;
    text-align: center;
}

.timeLine{
    background-color: #f7fcff;
    
    grid-row: 3;
    grid-column: 1;
    border-top: 5px ridge #f7fcff;

    text-align: center;
}


.rankBoard{
    background-color: #f7fcff;
    text-align: center;
    grid-row: 1/4;
    grid-column: 2;
    border-left: 5px ridge #4dbcff;
}

.dataSelectTab{
    background-color: #f7fcff;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    border-bottom: 5px ridge #4dbcff;
}

.timeLineLabel{
    color:#004c78;
}

.timeBlock{
    width: 75%;
    margin:auto;
}

.normalTitle{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #004c78;
}

.normalText{
    font-size: 15px;
    color: #004c78 !important;
    padding-right: 5px;
    padding-left: 5px;
    user-select: none;
}

.buttonBorder{
    position: relative;
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: inherit;
    letter-spacing: 3px;
    background-color: rgb(190, 246, 255);
}


.pressedRow{
    background-color: #b0e1ff;
}

.normalIcon{
    font-size: 15px;
    font-weight: bold;
    color: #919191;
    background-color: white;
}

.firstPlaceIcon{
    font-size: 15px;
    font-weight: bold;
    color: #ff5200;
    background-color: #fde3cf;
}

.secondPlaceIcon{
    font-size: 15px;
    font-weight: bold;
    color:#ff8d00;
    background-color: #FDF1CF;
}

.thirdPlaceIcon{
    font-size: 15px;
    font-weight: bold;
    color: #e6ca00;
    background-color: #FFFDD7;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
	background-color: rgb(190, 246, 255)!important;
}
.ant-table-body .ant-table-row-hover{
	background: rgb(190, 246, 255)!important;
}
.ant-table-body .ant-table-row-hover>td{
	background: rgb(190, 246, 255)!important;
}